.place__title{
    font-family: 'Inter';
    font-weight: 900;
    max-width: 460px;
    font-size: 72px;
    grid-column-start: 1;
    padding: 0px;
    margin: 0px;
}

@media screen and (max-width: 768px){
    .place__title{
        font-size: 42px;
    }
}

@media screen and (max-width: 560px){
    .place__title{
        font-size: 32px;
    }
}