.place__url-heading{
    font-size: 12px;
    line-height: 1;
    font-weight: normal;
    letter-spacing: 0.2em;
    color: #aaaaaa;
    padding: 0px;
    margin: 0px 0px 12px;
}

@media screen and (max-width: 320px){
    .place__url-heading{
        margin: 0px 16px 12px;
    }
}