@import url(../vendor/normalize.css);

.page{
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
}

.dark{
    background-color: #2A2C2F;
}

/* HEADER */


.header{

}

.header__logo{
    width: 176px;
    height: 52px;
}

.header__lang{

}

.header__lang-link{

}

